<h1>NEW.EJS</h1>

<form action="/events" method="POST">
  <div>
    <label>Date : </label>
    <input type="date" name="event[date]">
  </div>

  <div>
    <label>Type : </label>
    <input type="text" name="event[type]" placeholder="Event Type">
  </div>

  <div>
    <label>Venue : </label>
    <input type="text" name="event[venue]" placeholder="Event Venue">
  </div>

  <div>
    <label>Distance : </label>
    <input type="text" name="event[distance]" placeholder="Distance">
  </div>

  <div>
    <label>Time Completed : </label>
    <label>Hours</label>
    <input type="text" name="event[hours]">
    <label>Minutes</label>
    <input type="text" name="event[minutes]">
    <label>Seconds</label>
    <input type="text" name="event[seconds]">
  </div>

  <div>
    <label>Notes : </label>
    <textarea name="event[notes]">Add notes about event...</textarea>
  </div>
  
  <button type="submit">Create</button>
</form>


